// .body {
//   overflow: hidden;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
.combatPage-container {
  width: 1100px;
  display: flex;
  flex-direction: column;
  .combatPage-CombatText-container {
    width: 1095px;
    height: 80px;
    background: $tertiary-color;
    border: 3px solid $secondary-color;
    color: $secondary-color;
    font-size: 22px;
    font-family: $text-font-3;
    text-align: center;
    align-content: center;
  }
  .combatPage-battleScreen-container {
    width: 1100px;
    background-size:cover ;
    background-repeat: no-repeat;
    background-position:center;
    display: flex;
    justify-content: center;
    align-items: center;
    .battleScreen-opponent-wrapper {
      .battleScreen-opponent-img-container {
        width: 500px;
        // background: $secondary-color;
        height: 250px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .opponent-img-wrapper {
          height: 250px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          .opponentLife-container {
            border: 3px solid $secondary-color;
            width: 195px;
            height: 20px;
            text-align: center;
            position:relative;
            .opponentLife {
              background: blue;
              width: 195px;
              height: 20px;
              font-size: 17px;
              text-align: center;

            }
            .opponentLife-value {
              font-size: 17px;
              text-align: center;
              position:absolute;
              top:0;
              left: 70px;
              color: $secondary-color;
              font-family: $text-font-2;
              font-weight: 500;
            }
          }
          .opponentImg {
            // background: rgb(209, 211, 209);
            width: 200px;
            height: 180px;
            transform: scaleX(-1);
            display: flex;
            justify-content: center;
          }

          .targetFoe {
            width: 100%;
            height: 32px;
            text-align: center;
            // margin: 15px 0;
            img {
              width: 30px;
            }
          }
        }
      }
    }
    .battleScreen-opponent-infos {
      background: orange;
      height: 50px;
    }
  }
  .battleScreen-player-wrapper {
    width: 400px;
    height: 300px;
    // background: $blood-color;

    .battleScreen-player-img-container {
      height: 250px;
      display: flex;
      align-items: center;
      // background: $secondary-color;

      .player-img-wrapper {
        .playerLife-container {
          border: 3px solid $secondary-color;
          width: 200px;
          height: 20px;
          margin: 18px auto 38px auto;
          .playerLife {
            background: rgb(11, 124, 30);
            width: 200px;
            height: 20px;
            color: $secondary-color;
            font-family: $text-font-2;
            font-size: 17px;
            text-align: center;
          }
        }
        .playerImg {
          // width: 200px;
          height: 150px;
          transform: scaleX(-1);
          display: flex;
          justify-content: center;
        }
      }
    }
    .battleScreen-player-img {
      background: yellow;
      height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      .player-img {
        width: 100px;
        height: 170px;
        background: $blood-color;
      }
    }
    .battleScreen-player-infos {
      background: orange;
      height: 50px;
    }
  }
}
.combatPage-battleCommand-container {
  width: 1081px;
  height: 300px;
  // background: rgb(0, 0, 0);
  border: 10px solid $tertiary-color;
  display: flex;
  justify-content: space-between;
  box-shadow: inset 0 0 40px $secondary-color;
  .battleCommand-wrapper-left {
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .battleCommand-wrapper-center {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
  }
}
