// .body {
//   overflow: hidden;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
.combatPage-container {
  width: 1100px;
  height: 620px;
  // background: $blood-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .combatPage-CombatText-container {
    width: 1095px;
    height: 80px;
    background: $tertiary-color;
    border: 3px solid $secondary-color;
    color: $secondary-color;
    font-size: 22px;
    font-family: $text-font-3;
    text-align: center;
    align-content: center;
  }
  .combatPage-battleScreen-container {
    width: 1100px;
    height: 330px;
    background: rgb(241, 220, 193);
    display: flex;
    justify-content: center;
    align-items: center;
    .battleScreen-opponent-wrapper {
      width: 350px;
      height: 300px;
      // background: $blood-color;
      margin: 0 auto;
      .battleScreen-opponent-img-container {
        background: $secondary-color;
        height: 250px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .opponent-img-wrapper {
          width: 100px;
          height: 250px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          .opponentLife-container {
            border: 3px solid black;
            width: 95px;
            height: 20px;
            // margin-bottom: 10px;
            background: $secondary-color;

            text-align: center;
            .opponentLife {
              background: blue;
              // width: 100%;
              height: 20px;
              color: $secondary-color;
            }
          }
          .opponentImg {
            background: rgb(209, 211, 209);
            width: 140px;
            height: 164px;
            background-image: url("../../images/playerSprites.png");
            background-size: cover;
            animation-name: marche;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-timing-function: steps(5);
            margin: 0 auto;
            transform: scaleX(-1);
          }
          @keyframes marche {
            from {
              background-position: 0 0;
            }
            to {
              background-position: -1200px 0;
            }
          }

          .targetFoe {
            width: 100%;
            height: 32px;
            text-align: center;
            // margin: 15px 0;
            img {
              width: 30px;
            }
          }
        }
      }
    }
    .battleScreen-opponent-infos {
      background: orange;
      height: 50px;
    }
  }
  .battleScreen-player-wrapper {
    width: 350px;
    height: 300px;
    // background: $blood-color;
    margin: 0 auto;
    .battleScreen-player-img-container {
      height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $secondary-color;

      .player-img-wrapper {
        width: 100px;
        height: 170px;
        // background: $blood-color;
        .playerLife-container {
          border: 3px solid black;
          width: 95px;
          height: 20px;
          margin-bottom: 10px;
          background: $secondary-color;
          .playerLife {
            background: blue;
            width: 100%;
            height: 20px;
          }
        }
        .playerImg {
          background: rgb(209, 211, 209);
          width: 200px;
          height: 164px;
          background-image: url("../../images/playerSprites.png");
          background-size: cover;
          animation-name: marche;
          animation-duration: 1s;
          animation-iteration-count: infinite;
          animation-timing-function: steps(5);
          margin: 0 auto;
        }
        @keyframes marche {
          from {
            background-position: 0 0;
          }
          to {
            background-position: -1200px 0;
          }
        }
      }
    }
    .battleScreen-player-img {
      background: yellow;
      height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      .player-img {
        width: 100px;
        height: 170px;
        background: $blood-color;
      }
    }
    .battleScreen-player-infos {
      background: orange;
      height: 50px;
    }
  }
}
.combatPage-battleCommand-container {
  width: 1100px;
  height: 270px;
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  .battleCommand-wrapper-left {
    width: 200px;
    // background: yellow;
  }
  .battleCommand-wrapper-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }

  .battleCommand-wrapper-right {
    width: 200px;
    // background: yellow;
  }
}
