// .body {
//   overflow: hidden;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
.combatPage-container {
  width: 1100px;
  display: flex;
  flex-direction: column;
  .combatPage-CombatText-container {
    width: 1095px;
    height: 80px;
    background: $tertiary-color;
    border: 3px solid $secondary-color;
    color: $secondary-color;
    font-size: 22px;
    font-family: $text-font-3;
    text-align: center;
    align-content: center;
  }
  .combatPage-battleScreen-container {
    width: 1100px;
    background-size:cover ;
    background-repeat: no-repeat;
    background-position:center;
    display: flex;
    justify-content: center;
    align-items: center;
    .battleScreen-opponent-wrapper {
      .battleScreen-opponent-img-container {
        width: 500px;
        // background: $secondary-color;
        height: 250px;
        display: flex;
        justify-content: space-between;
        align-items: center;

      }
    }
    .battleScreen-opponent-infos {
      background: orange;
      height: 50px;
    }
  }
  .battleScreen-player-wrapper {
    width: 400px;
    height: 300px;

    .battleScreen-player-img-container {
      width: 300px;
      height: 250px;
      display: flex;
      align-items: center;

      .player-img-wrapper {
        position:relative;
        margin: 0 auto;
        z-index: 99;
        .playerLife-container {
          border: 3px solid $secondary-color;
          width: 200px;
          height: 20px;
          margin: 18px auto 38px auto;
          .playerLife {
            background: rgb(11, 124, 30);
            width: 200px;
            height: 20px;
            color: $secondary-color;
            font-family: $text-font-2;
            font-size: 17px;
            text-align: center;
          }
        }
        .playerImg {
          height: 150px;
          transform: scaleX(-1);
          display: flex;
          justify-content: center;
          width: 200px;
          transition: all ease 0.1s;
          margin-left: 0px;
          z-index: 100;
          .attacking1 {
            transition: all ease 0.1s;
            margin-left: -450px;
            z-index: 99;
          }
          .attacking2 {
            transition: all ease 0.1s;
            margin-left: -1050px;
            z-index: 99;
          }
          .playerEffects {
            position: absolute;
            z-index: 99;
            right:28px;
            bottom:-20px;
            width: 128px;
            height: 128px;
            // border: 1px solid red;
            transform: scaleX(-1);
            background-image: url("../../../../public/images/playerMovesToAttack2.png");
            background-repeat: no-repeat;
            background-position:center ;
            background-size: cover;
            animation-name: playerMoves;
            animation-duration: 0.8s;
            animation-timing-function: steps(9);
          }
          @keyframes playerMoves {
            from { background-position: 0 0; }
            to { background-position: -1440px 0; }
          }
        }
        .hiddenAnim {
          display: none;
        }
      }
    }
    .battleScreen-player-img {
      background: yellow;
      height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      .player-img {
        width: 100px;
        height: 170px;
        background: $blood-color;
      }
    }
    .battleScreen-player-infos {
      background: orange;
      height: 50px;
    }
  }
}
.combatPage-battleCommand-container {
  width: 1081px;
  height: 300px;
  // background: rgb(0, 0, 0);
  border: 10px solid $tertiary-color;
  display: flex;
  justify-content: space-between;
  box-shadow: inset 0 0 70px rgb(0, 60, 80);
  .battleCommand-wrapper-left {
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

  }
  .battleCommand-wrapper-center {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
  }
}
