.skillPage-container {
  border:3px solid $primary-color;
  margin: 10px;
  padding: 10px 0;
  background: #4a370784;
  .skillPage-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    .skillPage-left,
    .skillPage-right {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: 0 20px;
    }
    .lineSkill {
      width: 150px;
      height: 2px;
      border-radius: 10px;
      border: 1px solid $primary-color;
      background: $tertiary-color;
      margin: 0 auto;
    }
    .lineSkillSub {
      width: 80px;
      height: 2px;
      border-radius: 10px;
      border: 1px solid $primary-color;
      background: $tertiary-color;
      margin: 0 auto;
    }
  }
}
