.battleCommand-card-container {
  width: 165px;
  height: 222px;
  perspective: 400px;
  z-index: 1;
  transition: transform 0.1s ease;
  position:relative;
  display: flex;
  align-items: center;
  transform: rotateY(180deg);
  &:hover {
    transform: translateY(-50px) scale(1.5);
    transition: transform 01s ease;

    z-index: 20;

  }
  .battleCommand-card {
    width: 165px;
    height: 218px;
    position: absolute;
    // margin: 20px;
    overflow: hidden;
    border-radius: 12px;
    border: 3px solid $secondary-color;
    box-shadow: inset 0 0 70px $tertiary-color;
    text-align: center;
    color: $secondary-color;
    text-shadow: 0 0 10px $secondary-color;
    transition: all 0.15s ease-in-out 0s;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    backface-visibility: hidden;
  }
  .battleCommand-card-flipped {
    position: absolute;
    width: 165px;
    height: 218px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid $secondary-color;
    box-shadow: inset 0 0 5px $secondary-color;
    border-radius: 10px;
    transition: all 0.15s ease-in-out 0s;
  }
  .glow {
    position: absolute;
    top: 0;
    left: 0;
    width: 170px;
    height: 220px;
    transition: all 0.15s ease-in-out 0s;
    border-radius: 12px;
    mix-blend-mode: soft-light;
    background: radial-gradient(
      circle at 50% 0%,
      rgb(184, 196, 211),
      transparent
    );
    pointer-events: none;
  }

  span {
    font-family: $text-font-2;
    font-size: 14px;
    font-weight: 500;
  }
  .cardTitle-symbol {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    padding: 2px 3px;
    display: flex;
    .symbol {
      background: rgba(230, 229, 229, 0.8);
      border: 2px solid $primary-color;
      box-shadow: inset 0 0 5px $tertiary-color;
      border-radius: 20px;
      width: 22px;
      height: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 18px;
      }
    }
    h4 {
      margin: 5px 0 5px 0;
      font-family: $text-font-2;
      font-size: 14px;
      font-weight: 800;
    }
  }

  .damage-mainDamage,
  .damage-subDamage {
    display: flex;
    flex-direction: column;
    margin: 5px 5px;
  }
  .cardResume {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 3px;
    .damage,
    .cost {
      margin-top: 5px;
      display: flex;
      flex-direction: column;
      border: 2px solid $primary-color;
      box-shadow: inset 0 0 5px $tertiary-color;
      border-radius: 30px;
      width: 22px;
      height: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $text-font-2;
      font-size: 16px;
      font-weight: 800;
      // color: black;
      background: rgba(230, 229, 229, 0.8);
      text-shadow: 0 0 10px $secondary-color;
    }
    .effect {
      margin-top: 5px;
      display: flex;
      flex-direction: column;
      padding: 0 10px;
    }
  }
}
.lineCard {
  width: 150px;
  height: 2px;
  margin: 0 auto;
  border-radius: 15px;
  border: 1px solid $secondary-color;
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 38%,
    rgba(145, 0, 0, 1) 71%,
    rgba(218, 165, 68, 1) 100%
  );
}

.physical {
  background: rgb(124, 123, 123);
  .damage,
  .cost {
    color: rgb(124, 123, 123);
  }
}

.magical {
  background: rgb(39, 129, 110);
  .damage,
  .cost {
    color: rgb(39, 129, 110);
  }
}

.fire {
  background: rgb(152, 26, 26);
  .damage,
  .cost {
    color: rgb(152, 26, 26);
  }
}
.cold {
  background: rgb(26, 81, 152);
  .damage,
  .cost {
    color: rgb(26, 81, 152);
  }
}

.electric {
  background: rgb(91, 26, 152);
  .damage,
  .cost {
    color: rgb(91, 26, 152);
  }
}

.nature {
  background: rgb(26, 152, 70);
  .damage,
  .cost {
    color: rgb(26, 152, 70);
  }
}
.divine {
  background: rgb(152, 144, 26);
  .damage,
  .cost {
    color: rgb(152, 144, 26);
  }
}

.darkness {
  background: rgb(59, 48, 77);
  .damage,
  .cost {
    color: rgb(59, 48, 77);
  }
}

// .battleCommand-card-hover {
//   transition: 1s ease-in-out top;
//   position: absolute;
//   top: -100px;
//   height: 190px;
//   margin: 20px;
//   border-radius: 5px;
//   border: 2px solid $secondary-color;
//   box-shadow: inset 0 0 70px $tertiary-color;
//   text-align: center;
//   color: $secondary-color;
//   text-shadow: 0 0 10px $secondary-color;
// }
