$primary-color : rgb(218, 165, 68);
$secondary-color : white;
$tertiary-color: black;
$blood-color: #ff0000b1;

$background-1 : #4a370784;

$text-font-1 : "Jacquard 12", system-ui;
$text-font-2 : "Cinzel", serif;
$text-font-3 : "Signika Negative", sans-serif;
